body {
  font-family: 'Baloo Bhaina 2', cursive;
}

header {
  border-bottom: 3px solid rgb(80, 79, 79);
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  height: 16vh;
  width: 35vw;
}


.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer {
  margin-top: 30px;
  border-top: 3px solid rgb(80, 79, 79);
  padding-top: 5px;
  height: 5vh;
  }

  footer p {
    font-size: 16px;
    color: rgb(60,154,0);
    text-align: center;
    padding-top: 5px;
  }

a {
  color: rgb(8, 177, 233);
  text-decoration: none;

}

a:hover {
  color: rgb(48,139,3);
}
