table {
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  padding-top: 30px;
  table-layout: auto;
  width: 50%;
}

th {
  font-weight: bolder;
}


th, td {
  border: 3px solid rgb(98,2,171);
  padding: 10px;
  font-size: 24px;
}

main {
  min-height: 325px;
}

h2 {
  text-align: center;
  padding-top: 30px;
  color: rgb(98,2,171);
  font-size: 24px;
}

footer {
  margin-top: 50px;
}

#resetScores {
  font-size: 15px;
  color: white;
  background-color: rgb(98,2,171);
  margin-top: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(98,2,171);
  border-radius: 5px;
  position: absolute;
  right: 30px;
  
}
